<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.trace"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>trace</name>
    <preference name="orientation" value="portrait"/>
    <description>
        A memory game about lines.
    </description>

    <author>
        John Pothier
    </author>

</widget>